html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-image: url('layout/prancheta/Pattern - Adriana Turin (CMYK)_Prancheta 1.jpg');
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
.navbar {
    background-color: #aa4160;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}
.navbar a {
    text-decoration: none;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 10px 8px;
    margin: 0 5px;   
}
.navbar a:hover {
    background-color: #ffffff8a;
    color: black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius:3px;
}
.social-icons {
    display: flex;
    align-items: center;
}
.social-icons a {
    color: #f2f2f2;
    padding: 14px;
    text-decoration: none;
}
.social-icons a:hover {
    color: #000000;
}
.logo img {
    width: 70px;
    height: auto;
}

.container {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0; 
    margin: 0;
}


.picture {
    flex: 0 0 150px;
}

.picture img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    border: 2px solid #ffffff;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.8);
}

.painel {
    display: flex;
    flex-direction: row; 
    align-items: flex-start;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    box-sizing: border-box;
    gap: 20px;
    background: 
        linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)),
        url('prancheta/Pattern - Adriana Turin (CMYK)_Prancheta 1.jpg');
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;

}
.painel h2 {
    font-size: 24px;
    margin-bottom: 15px;
    text-align: left;
    width: 100%;
    color: #A9395A;
    font-weight: bold;
}
.painel p {
    font-size: 16px;
    line-height: 1.4;
    margin: 0;
    text-align: left;
    text-indent: 0;
    color: #000000;
    
}
.text h2 {
    font-size: 24px;
    margin-bottom: 20px; 
}
.text p {
    font-size: 16px;
    line-height: 1.4;
    margin-bottom: 15px;
}

.catalog-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
    padding: 10px;
    position: relative; 
}

.catalog-item {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(169, 57, 90, 0.7);
    transition: transform 0.3s ease, z-index 0.3s ease;
}

.catalog-item:hover {
    transform: scale(1.1); 
    z-index: 10; 
}

.catalog-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.3s ease;
}

.catalog-item:hover img {
    opacity: 0.3;
}

.item-info {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(169, 57, 90, 0.4);
    color: #fff;
    padding: 20px;
    opacity: 0;
    transform: scale(0.8);
    transition: opacity 0.3s ease, transform 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.catalog-item:hover .item-info {
    opacity: 1;
    transform: scale(1);
}

.swiper-slide {
    width: auto; /* Permite que o Swiper ajuste automaticamente a largura */
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.swiper-container {
    margin-bottom: 20px; /* Adiciona espaço abaixo do Swiper */
}

.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    width: 100%;
}

@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: center;
    }
    .social-icons {
        justify-content: center;
        margin-top: 10px;
    }
    .container {
        flex-direction: column;
        align-items: center;
    }
    .carousel {
        height: 300px;
    }
    .timeline-item {
        flex-direction: column;
        align-items: flex-start;
        padding-left: 0;
    }
    .timeline-date {
        margin-bottom: 10px;
        position: static;
    }
    .timeline-content {
        padding: 10px;
        width: 100%;
    }
}

.timeline-container {
    padding: 20px;
    border-radius: 8px;
    margin-top: 10px;
}

.timeline-container h2 {
    text-align: center;
    color: #A9395A;
}

.timeline-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    position: relative;
    padding-left: 40px;
}

.timeline-date {
    position: absolute;
    left: 0;
    width: 30px;
    height: 30px;
    background-color: #A9395A;
    color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.timeline-content {
    background-color: #f0e9e6;
    padding: 10px 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.timeline-content h3 {
    margin-top: 0;
}

.timeline-content p {
    margin-bottom: 0;
}

